.calendar {
    width: 70vw;
	margin: auto;
}
.container {
	width: 100%;
	margin: 20px auto;
}
@media screen and (max-width: 1100px) {
	.calendar {
		width: 85vw;
	}
	.container {
		width: 90%;
	}
}
@media screen and (max-width: 900px) {
	.calendar {
		width: 95vw;
	}
	.container {
		width: 80%;
	}
}
@media screen and (max-width: 600px) {
	.container {
        /* background-color: red; */
		width: 90vw;
	}
    /* .calendar {
		
        color: white;
	} */
}
